{% extends 'shop/base.html' %}

{% block title %}
{% endblock %}

{% block style %}
    <script src="/static/shop/vendor/jquery/jquery.min.js"></script>
    <script src="/static/shop/js/vue.min.js"></script>
    <script src="/static/shop/js/vue-resource.js"></script>
{% endblock %}
{% block label %}
    <a class="btn btn-warning" href="/Shop/add_update_goods/">添加商品</a>
{% endblock %}

{% block content %}
    {% verbatim myblock %}
        <div class="row" id="goods_table">
            <div class="input-group">
                <input type="text" id="keywords" class="form-control bg-light border-0 small" placeholder="商品">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" v-on:click="get_keywords_data()">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>

        <table class="table dataTable" >
            <tr>
                <th>商品名称</th>
                <th>商品价格</th>
                <th>商品数量</th>
                <th>出厂日期</th>
                <th>保质期</th>
                <th>操作</th>
            </tr>
            <tr v-for="g in goods_list">
                <td><a v-bind:href="'/Shop/goods/'+g.id+'/'">{{ g.name }}</a></td>
                <td>{{ g.price }}</td>
                <td>{{ g.number }}</td>
                <td>{{ g.production }}</td>
                <td>{{ g.safe_date }}</td>
                <td>
                     <a v-bind:href="'/Shop/set_goods/'+g.id" class="btn btn-danger" v-if="g.statue==1">下架</a>
                     <a v-bind:href="'/Shop/set_goods/'+g.id" class="btn btn-primary" style="color:white" v-if="g.statue==0">上架</a>
                </td>
            </tr>
        </table>
        <div class="dataTables_paginate paging_simple_numbers">
            <ur class="pagination">
                <li class="paginate_button page-item" v-for="page in page_range">
                    <button class="page-link" v-on:click="get_page_data(page)">
                        {{ page }}
                    </button>
                </li>
            </ur>
        </div>
        </div>
    {% endverbatim myblock %}
{% endblock %}

{% block script %}
    <script>
        Vue.use(VueResource); //声明使用的是vue-resource
        var vue = new Vue(
            {
                el:"#goods_table", //要绑定的对象
                data: {
                    "message": "hello world",
                    "goods_list": [],
                    'page_range':[],
                    'referer':''
                },// 具体要绑定的数据
                created: function () {
                    this.$http.get("/Shop/Goods/").then(
                        function (data) {
                            console.log(data)
                            this.goods_list = data["data"]["data"];
                            this.page_range = data["data"]["page_range"];
                            console.log(data["data"]["page_range"])
                        },
                    )
                },// 初始化执行
                methods: {
                    get_page_data: function (page) {
                        var url = '/Shop/Goods/?page='+page+this.referer;
                        this.$http.get(url).then(
                            function (data) {
                                this.goods_list = data['data']['data'];
                                this.page_range = data['data']['page_range'];
                                console.log(data)
                            },
                            function (error) {
                                console.log(error)
                            }
                        )
                    },
                    get_keywords_data: function () {
                        var keywords = $('#keywords').val();
                        var url = '/Shop/Goods/?keywords='+keywords;
                        this.$http.get(url).then(
                            function (data) {
                                this.goods_list = data['data']['data'];
                                this.page_range = data['data']['page_range'];
                                this.referer = data['data']['referer'];
                            },
                            function (error) {
                                console.log(error)
                            }
                        )
                    }
                } //vue需要绑定的函数功能
            }
        )
    </script>
{% endblock %}


